@page "/invoiceBillNo/{BillNo}"
@using BethanysPieShopHRM.Server.Repository;
@inherits InvoiceBillBase

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Invoice</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <!-- Main content -->
                    <div class="invoice p-3 mb-3">
                        <!-- title row -->
                        <div class="row">
                            <div class="col-12">
                                <h4>
                                    <i class="fas fa-globe"></i>
                                    Elite Facilities Management Company, Inc.
                                    <small class="float-right">Generated Date: @BillDetails.created_date </small>
                                </h4>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- info row -->
                        <div class="row invoice-info">
                            <div class="col-sm-4 invoice-col">
                                From
                                <address>
                                    <strong>EFMC, Inc.</strong><br>
                                    5133 Folsom Ave, Suite 600<br>
                                    Seef, Manama 3153123<br>
                                    Phone: (804) 175-985621<br>
                                    Email: noorudeens@yahoo.in
                                </address>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 invoice-col">
                                To
                                <address>
                                    <strong>@BillDetails.FirstName</strong><br>
                                    Address: @BillDetails.Address<br>
                                    Mobile: @BillDetails.MobileNumber<br>
                                    Email: @BillDetails.Email1
                                </address>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 invoice-col">
                                <b>FlatNo #@BillDetails.FlatNo</b><br>
                                <br>
                                <b>Bill No:</b> @BillDetails.BillNo<br>
                                <b>Payment Due date:</b> @BillDetails.due_date<br>
                                <b>Cycle :</b> From: @BillDetails.cycle_from - To: @BillDetails.cycle_to
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <!-- Table row -->
                        <div class="row">
                            <div class="col-12 table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Utilities</th>
                                            <th>Current Reading</th>
                                            <th>Previous Reading</th>
                                            <th>Consumption</th>
                                            <th>Charges</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>BTU</td>
                                            <td>@BillDetails.btu_current</td>
                                            <td>@BillDetails.btu_prev</td>
                                            <td>@BillDetails.btu_consum</td>
                                            <td>@BillDetails.BTU_amount</td>
                                        </tr>
                                        <tr>
                                            <td>Water</td>
                                            <td>@BillDetails.water_current</td>
                                            <td>@BillDetails.water_prev</td>
                                            <td>@BillDetails.water_consum</td>
                                            <td>@BillDetails.water_amount</td>
                                        </tr>
                                        <tr>
                                            <td>Electricity</td>
                                            <td>@BillDetails.elec_current</td>
                                            <td>@BillDetails.elec_prev</td>
                                            <td>@BillDetails.elec_consum</td>
                                            <td>@BillDetails.electricity_amount</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                        <div class="row">
                            <!-- accepted payments column -->
                            <div class="col-6">
                                <p class="lead">Payment Methods:</p>
                                <img src="../../../assets/img/credit/visa.png" alt="Visa">&nbsp;
                                <img src="../../../assets/img/credit/mastercard.png" alt="Mastercard">&nbsp;
                                <img src="../../../assets/img/credit/american-express.png" alt="American Express">&nbsp;
                                <img src="../../../assets/img/credit/paypal2.png" alt="Paypal">

                                <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                                    Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem
                                    plugg
                                    dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
                                </p>
                            </div>
                            <!-- /.col -->
                            <div class="col-6">
                                <p class="lead">Amount Due: @BillDetails.due_date</p>

                                <div class="table-responsive">
                                    <table class="table">
                                        <tr>
                                            <th style="width:50%">Subtotal:</th>
                                            <td>@BillDetails.current_bill</td>
                                        </tr>
                                        <tr>
                                            <th>Service charges:</th>
                                            <td>@BillDetails.service_charge</td>
                                        </tr>
                                        <tr>
                                            <th>Others charges:</th>
                                            <td>@BillDetails.other_charge</td>
                                        </tr>
                                        <tr>
                                            <th>Previous arrears:</th>
                                            <td>@BillDetails.previous_arrear</td>
                                        </tr>
                                        <tr>
                                            <th>Total:</th>
                                            <td>@BillDetails.Amount</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <!-- this row will not appear when printing -->
                        <div class="row no-print">
                            <div class="col-12">
                                <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
                                <button type="button" class="btn btn-success float-right">
                                    <i class="far fa-credit-card"></i> Submit
                                    Payment
                                </button>
                                <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                                    <i class="fas fa-download"></i> Generate PDF
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- /.invoice -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>



