

@if (ShowDialog)
{
<div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleLabel">Add / Edit Role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">
                <div class="row alert @StatusClass">
                    <p>@ErrorMsg</p>
                </div>


                <EditForm Model="@role" OnValidSubmit="@HandleValidSubmit">

                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <input type="hidden" value="@role.Id" />

                    <div class="form-group">
                        <label for="lastName">Role names: </label>
                        <InputText id="lastName" class="form-control" @bind-Value="@role.Name" placeholder="Enter last name"></InputText>
                        <ValidationMessage For="@(() => role.Name)" />
                    </div>

                    @*<div class="form-group">
                            <label for="firstName">First name: </label>
                            <InputText id="firstName" class="form-control" @bind-Value="@Employee.FirstName" placeholder="Enter first name"></InputText>
                            <ValidationMessage For="@(() => Employee.FirstName)" />
                        </div>

                        <div class="form-group">
                            <label for="email">Email: </label>
                            <InputText id="email" class="form-control" @bind-Value="@Employee.Email" placeholder="Enter email"></InputText>
                            <ValidationMessage For="@(() => Employee.Email)" />
                        </div>*@

                    <button type="submit" class="btn btn-primary">Save role</button>
                    <a class="btn btn-outline-primary" @onclick="@Close">Close</a>
                </EditForm>

            </div>
        </div>
    </div>
</div>}

@if (ShowDeleteDialog)
{
<div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleLabel">Delete Role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">
                <div class="row alert alert-warning">
                    <p>Are you sure wants to delete role?</p>
                </div>

                <EditForm Model="@role" OnValidSubmit="@HandleDeleteSubmit">

                    <input type="hidden" value="@role.Id" />

                    <div class="form-group">
                        <label for="lastName">Role names: </label>&nbsp;
                        <span class="font-weight-bold"> @role.NormalizedName</span>
                    </div>


                    <button type="submit" class="btn btn-outline-warning">Delete role</button>
                    <a class="btn btn-outline-primary" @onclick="@Close">Close</a>
                </EditForm>

    


            </div>
        </div>
    </div>
</div>}

@code { }
