
@inherits EditReceiptDialogBase

@if (ShowDialog)
{

    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" style="display: block; padding-right: 17px;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleLabel">Add Building</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <EditForm Model="@receipt" OnValidSubmit="@HandleValidSubmit">

                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <input type="hidden" value="@receipt.ReceiptNo" />

                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="lastName">FlatNo: </label>
                                    <InputText id="FlatNo" class="form-control" @bind-Value="@receipt.FlatNo"></InputText>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="firstName">Payment mode: </label>
                                    <select id="PaymentMode" class="form-control">
                                        <option value="Cash">Cash</option>
                                        <option value="Credit Card">Credit Card</option>
                                        <option value="Debit Card">Debit Card</option>
                                        <option value="Cheque">Cheque</option>
                                        <option value="Bank Transfer">Bank Transfer</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="firstName">ChequeNo: </label>
                                    <InputText id="FlatNo" class="form-control" @bind-Value="@receipt.ChequeNo"></InputText>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="firstName">ChequeDate: </label>
                                    <InputText id="cheqNo" class="form-control" @bind-Value="@receipt.ChequeDate"></InputText>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="firstName">Bank: </label>
                                    <InputText id="bank" class="form-control" @bind-Value="@receipt.Bank"></InputText>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="firstName">Amount Received: </label>
                                    <InputNumber id="amt" class="form-control" @bind-Value="@receipt.AmountReceived"></InputNumber>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="firstName">Narration: </label>
                                    <InputText id="FlatNo" class="form-control" @bind-Value="@receipt.Narration"></InputText>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="email">Remarks: </label>

                                </div>
                            </div>
                        </div>


                        <button type="submit" class="btn btn-primary">Save Receipt</button>
                        <a class="btn btn-outline-primary" @onclick="@Close">Close</a>
                    </EditForm>

                </div>
            </div>
        </div>
    </div>

}




@code {

}
